// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


* {
  font-family: 'Nunito', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.text-primary-color {
  color: #1a2639;
}

.logo-text {
  font-family: 'Righteous', sans-serif;
}

.remaining-height {
  height: calc(100vh - 65px);
}
